<div class="container-sm mt-5">
  <div class="row text-center justify-content-center">
    <h2 class="col-12">Add Category</h2>
    <div class="col-6">
      <div class="input-group">
        <input
          type="text"
          id="name"
          class="form-control"
          #newCategory
          (input)="onChange()"
        />
        <button
          [disabled]="!newCategory.value"
          class="btn btn-success"
          (click)="onAdd()"
        >
          Add
        </button>
      </div>
      <h5 class="mt-2 text-danger" *ngIf="avoidDuplicationMsg">{{ avoidDuplicationMsg }}</h5>
    </div>
  </div>
  <div class="row text-center mt-5">
    <h2 class="col-12">Categories</h2>
  </div>
  <div class="row text-center justify-content-center">
    <div class="col-8 text-center">
      <div *ngIf="categories.length === 0">
        <h4 class="mt-4">Add new categories!</h4>
      </div>
      <form>
        <div *ngFor="let category of categories">
          <app-categories-item [category]="category"></app-categories-item>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
